{% extends 'base.html' %}

{% block title %}
    Automatic Assigner
{% endblock title %}

{% block rooms %}
    <a class="nav-item nav-link active" href="{% url 'rooms' %}">Rooms</a>
{% endblock rooms %}

{% block home %}
    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
{% endblock home %}

{% block content %}
<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading text-center">Edit details for {{ room }}</h1>
    <hr>
    <div class="container">
      <form method="POST" action="{% url 'edit' room.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="inputNumber">Number</label>
            <input type="text" class="form-control" id="inputNumber" name='number' value="{{ room.number }}">
          </div>
          <div class="form-group">
            <label for="inputCapacity">Capacity</label>
            <input type="text" class="form-control" name="capacity" id="inputCapacity" value="{{ room.capacity }}">
          </div>
          {% if error %}
            <div class="form-group form-check">
                <label style="color: red;" >{{ error }}</label>
            </div>
          {% endif %}
          <button type="submit" class="btn btn-primary btn-block">CONFIRM EDIT</button>
      </form>
    </div>
  </div>
</section>

  
{% endblock content %}