{% extends 'base.html' %}

{% block title %}
    Automatic Assigner
{% endblock title %}

{% block rooms %}
    <a class="nav-item nav-link active" href="{% url 'rooms' %}">Rooms</a>
{% endblock rooms %}

{% block home %}
    <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
{% endblock home %}

{% block content %}
  <section class="jumbotron">
    <div class="container">
      <h3 class="jumbotron-heading text-center">Here are your results</h3>
      <hr>
      <form method="POST" id="search" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="row">
          <input style="margin: auto;" name="search" class="form-control col-7" type="text" placeholder="Search">
          <button style="margin: auto;" type="submit" class="btn btn-primary btn-block col-3">Search</button>
        </div>
      </form>
      <hr>
    {% for room in match.all %}
        <a href="{% url 'detail' room.id %}" class="text-formatting">{{ room }} - {{ room.capacity }}</a>
        <hr>
    {% endfor %}
    </div>
  </section>
{% endblock content %}